@font-face {
    font-family:'BYekan' ;
    src: url('../fonts/BYekan.eot') format('eot'),
    url('../fonts/BYekan.ttf') format('ttf'),
    url('../fonts/BYekan.woff') format('woff');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Ubuntu', serif ;
}
body{
    background: url("../image/bg.png");
    /*letter-spacing: 1px;*/
}

.row-margin, .col-margin {
    margin-top: 15px;
}

.modal {
    overflow-y: hidden
}
ul{list-style: none}
a{text-decoration: none !important;}
/********** Header style ********/
header{
    min-height: 180px;
    background: url("../image/header.jpg");
    width: 100%;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    text-align: center;
}
.header-menu-link li a{
    color: #fff;
    text-decoration: none;
}
.header-menu-link li{
    margin: 10px 3px 0 5px;
}
.logo-title{
    color: #fff;
}
.header-logo {
    box-shadow: 0px 5px 8px #3c3c3c;
}
@media (max-width: 768px) {
    .header-logo {
        width: 70px;
        height: 70px;
    }
}
.cl-effect-2 a {
    line-height: 28px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
.cl-effect-2 a span {
    position: relative;
    display: inline-block;
    padding: 0 14px;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.csstransforms3d .cl-effect-2 a span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    color: yellow;
    border-bottom: 1px solid #ccc;

}
.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
    -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}
.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
}
/********scroll to top btn styles ***********/
.scroll-to-top{
    position: fixed;
    bottom: 10px;
    border-radius: 100%;
    z-index: 998;
    right: 10px;

}
/********** main menu style ********/
.affix{  top: 0;  width: 100%}
.affix + .container-fluid{
    padding-top:70px ;
}
.main-menu-container{background-color: #00009a;z-index: 999;}
.navbar-custom{border:none; }
.navbar-toggle-custom{border: 1px solid rgba(255,255,255,.5);}
.navbar-toggle-custom:hover{border: 1px solid #fff;}
.navbar-toggle-custom:focus{border: 1px solid #fff;}
.navbar-toggle-custom span{background-color: #fff}
.icon-sign-in{color: #ffab38;font-size: 20px !important; margin: 8px auto;}
.icon-bars{color: yellow;font-size: 20px !important; margin: 8px auto;}
.icon-search{color: #ffffff;font-size: 20px !important; margin: 8px auto;}
@media (max-width: 768px) {
    .navbar-toggle-custom{
        float: left;
        margin-left: 15px;
    }
    .navbar-collapse{ max-width: none;}
}
.navbar-toggle-custom{border: 1px solid #888888;
}
.navbar-nav-custom li a{  line-height: 26px;color: #fff; letter-spacing: 1px;
}
.navbar-nav-custom li a:hover{  color: #0BEC0A;background: 0 0;
}
.navbar-nav-custom li a:focus{  color: orange;background: 0 0;
}
.sub-menu{background-color:#00009a;border: none; min-width: 260px}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background:0 0;
    border:none;
}
ul.dropdown-menu a.dropdown-toggle:focus{background:  0 0;color: yellow;}
ul.dropdown-menu >li.open > a {color: yellow;background:  0 0;}
.navbar-collapse {max-height: none}

/************* modal styles *****************/
.modal-header-custom {
    border-radius: 3px 3px 5px 5px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
}
/**** Log in form ****/
.panel-heading-custom-login{
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
}
.panel-custom {
    padding: 0;
    width: 300px;
    margin-top: 20px;
}
@media (max-width: 768px) {
    .panel-custom {
        padding: 0;
        width: 200px
    }
}
.angle-sign-in{
    position: absolute;
    top: -38px;
    right: 40px;
    height: 0;
    width: 0;
    border: 20px solid #3072AC;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
/**** offcanvas ****/
.navmenu-custom{
    background-color: #0000b9;
    box-shadow: 1px 0px 8px 2px #1a1a1a  ;
    -web-kit-box-shadow: 1px 0px 8px 2px #1a1a1a  ;
    -moz-box-shadow: 1px 0px 8px 2px #1a1a1a  ;
}
.navmenu-custom a{
    color: #fff;
}
.navmenu-custom li a:hover{
    background: 0 0;
    color: yellow;
}
.navmenu-custom li a:focus{
    background: 0 0;
    color: yellow;
}
.submenu-offcanvas{
    background-color: #00008f;
}
.submenu-offcanvas li a{
    color: #fff;
}
.badge-offcanvas{
    background-color: yellow;
    color: #000;
    margin-left: 30px;
}

/******* slider ******/
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
.rslides {
    margin: 0 auto 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
/*#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }*/

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-weight: bold;
}

/*a {
  color: #fff;
  text-decoration: none;
  }

#download {
  background: #333;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 60px auto;
  max-width: 500px;
  padding: 20px;
  }*/

/*#download:hover {
  background: rgba(255,255,255,.15);
  }

.footer {
  font-size: 11px;
  }*/

/* Callback example */

/*h3 {
  font: 20px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  }*/

.events {
    list-style: none;
}

.callbacks_container {
    margin-bottom: 15px;
    position: relative;
    /* float: left;*/
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.callbacks img {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    background: #000;
    background: rgba(0,0,0, .8);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../image/themes.gif") no-repeat left top;
    margin-top: -45px;
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

/*#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}*/

@media screen and (max-width: 600px) {
    h1 {
        font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .callbacks_nav {
        top: 47%;
    }
}

/*** Accordion panel style ***/
.panel-group-custom{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.panel-heading-custom{
    background-color: #69D2E7;
    color: #fff;
}
.collapse-item{padding: 0px;}
.cla-icon{color: #ccc;
    font-size: 11px;
    padding-top: 3px;
    /*border: 1px solid #ccc;
    padding: 2px;*/
}
/***** postbox styles *****/
.topic-title h1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 0px 2px 4px 2px;
    padding-bottom: 10px;
}
.topic-title h1 a{
    color: #0020ff;
    font-size: 22px;
}
.topic-title h1 a:hover{
    opacity: .7;
}
.topic-title p{
    text-align: justify;
    line-height: 24px;
    padding: 3px;
}
.panel-body-custom-postbox{padding: 7px}
.panel-heading-custom-postbox ul{
    margin-bottom: 3px;
}
.panel-heading-custom-postbox{
    position: relative;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    min-height: 30px;

}
.panel-heading-custom-postbox a{color: #fff}
.panel-heading-custom-postbox a:hover{color: yellow}
.panel-heading-custom-postbox{padding: 7px 3px;}
.angle{
    position: absolute;
    height: 0px;
    top: -15px;
    width: 0px;
    border: 8px solid #4F54B6;
    /*border-bottom-color: blue;*/
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
/***** pagination style *****/
.mypagination{  display: table;  margin: 0 auto;}
.mypagination ul li a{color: #999;  border: none;font-size: 14px}
.mypagination ul li{display: inline;}
.pagination .active > a{background-color: #FFA500;}
/****** News letter box ****/
.panel-heading-news-letter{
    height:40px;
    padding: 6px;
    font-size: 16px;
}
.panel-heading-news-letter p{color: #fff}
.panel-body-news-letter{text-align: center;  }
.panel-body-news-letter p{padding-bottom: 20px; }
.footer-news-letter ul li a{
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;}
.footer-news-letter ul li a:hover{
    opacity: .5;
}
/***** sidebar Tabs menu *****/
.tabs{
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    margin-bottom: 20px;
}
.nav-tabs-custom{background-color: #ff5d56;}
.nav-tabs-custom li a:hover{background-color: transparent;color: yellow}
.nav-tabs-custom li a{border: none !important; color: #fff}
.nav-tabs-custom li.active{border-bottom: 2px solid yellow;}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: transparent;
    color: yellow;
}
.tab-content-custom ul{padding: 10px;}
/***** comments section sidebar *****/
.panel-heading-progress, .panel-heading-comments{
    height: 40px;
    color: #fff;
    font-size: 16px;
    padding: 6px;
}
.panel-heading-comments p , .panel-heading-progress p{color: #fff;}
.comments-scroll{padding: 0}
.news-item{padding: 5px; border-bottom: 2px dotted #ccc}
.comm-img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    margin-right: 5px;
}
.news-item a{color: #000}
.news-item a:hover{opacity: 0.7}
/***** footer style *****/
footer{background-color: #3c3c3c;}
.statistic-title{
    background-color: #00a9b0;
    border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    box-shadow: 0 2px 0 #000;
    -webkit-box-shadow: 0 2px 0 #000;
    -moz-box-shadow: 0 2px 0 #000;
}
.statistic-title i.fa , .section-site-title i.fa{margin-left: 10px;font-size: 25px}
footer p{
    padding: 20px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.site-statistic,.site-section{
    color: #c3c3c3;
    font-size: 13px;
    padding-top: 15px;
}
.site-statistic li,.site-section li{padding-bottom: 5px;}
.site-statistic i.fa , .site-section i.fa{margin-right: 5px;}
.section-site-title{
    background-color: #20e10e;
    border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    box-shadow: 0 2px 0 #000;
    -webkit-box-shadow: 0 2px 0 #000;
    -moz-box-shadow: 0 2px 0 #000;
}
.site-section li a{color: #c3c3c3;}
.site-section li a:hover{color: yellow;}
.site-section li {
    transition:  .2s ease-in-out;
    -webkit-transition:  .2s ease-in-out;
    -moz-transition:  .2s ease-in-out;}
.site-section li:hover{
    color: yellow;
    transform: translate(10px,0);
    -webkit-transform: translate(10px,0);
    -moz-transform: translate(10px,0);
}
.footer-about{
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
.footer-nav{border-top: 2px solid #2c2c2c;letter-spacing: 1px; }
.footer-nav i.fa{font-size: 18px}
.copy-right {color: orange}
.footer-link i{margin-right: 5px;color: orange}
.footer-link a{color: #c3c3c3}
.footer-link a:hover{color: yellow}

